:root {
	/* ------- colors ------- */
	--background-color: #313131;
	--foreground-color: #484848;
	--border-color: #252525;
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #ddfcad;
	--link-color: #19cf37;
	--nav-active-color: #17bb32;

	--white-color: #f4f4f5;
	--primary-text-color: #fefeff;
	--secondary-text-color: #f4f4f5;
	--tertiary-text-color: #ededf0;
	--primary-text-color-hover : #141414;
	--secondary-text-color-hover: #202020;
	--link-color-hover: #17bb32;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
